2 ICON "../data/fl2xui.ico"

1 VERSIONINFO
FILEVERSION 1,0,1,0
FILEVERSION 1,0,1,0
FILEOS 0x40004
FILETYPE 1
{
  BLOCK "StringFileInfo"
  {
    BLOCK "000004b0"
    {
      VALUE "CompanyName", "Stronnag MegaCorp"
      VALUE "FileDescription", "Flightlog2kml GUI"
      VALUE "FileVersion", "1.0.1-rc3"
      VALUE "InternalName", "fl2xui"
      VALUE "LegalCopyright", "Copyright (c) 2022 Jonathan Hudson"
      VALUE "OriginalFilename", "fl2xui.exe"
      VALUE "ProductName", "fl2xui"
      VALUE "ProductVersion", "1.0.1-rc3"
      VALUE "Comment", "GPL2 flightlog2kml frontend"
    }
  }

  BLOCK "VarFileInfo"
  {
    VALUE "Translation", 0, 0x4b0
  }
}
